body {
  margin-left: 50px;
  margin-right: 50px;
  overflow-y: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#left-box {
  display: flex; ;
}
#far-left-icon {  
  display: flex;
  height: 60px;
  width: 60px;
}
#blog-title {
  margin-top: -40px;
  margin-bottom: -15px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 40px;
  width: 200px;
}
#blog-catch-phrase {
 align-self: flex-end;
 font-size: 12px;
 margin-left: -200px;
}
#right-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#right-icon {
  justify-content: space-evenly; 
  align-items: center;
  margin-right: 6px;
}
#far-right-icon {
  justify-content: space-evenly;
  align-items: center;
  margin-left: 6px;
}
#tiny-image {
  background-image: url('https://github.com/codefellows/seattle-code-201d100/blob/main/class-10/lab-a/lab-assets/hr-img.png?raw=true');
  background-repeat: repeat-x 15px;
  margin-top: 20px;
}
#food-title {
  display: flex;
  justify-content: left;
  font-size: 50px;
  width: 400px;
  height: 100px;
  margin-bottom: -50px;
  font-weight: bolder;
}
#post-date {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 2px;
  margin-bottom: 10px;
  height: 30px;
  color: grey;
}
#print {
  float: right;
  height: 13px;
  align-items: center;
  margin-right: 50px;
  margin-top: -25px;
}
#main-image {
  display: flex;
  justify-content: center;
  height: 840px;
  width: auto ;
  margin-top: 40px;
}
#text {
  font-size: 25px;
  color: grey;
  text-indent: 2em;
  width: auto;
  margin-top: 40px;
}
#note-paper {
  display: flex;
  justify-content: center;
  height: 400px;
  width: auto;
  margin-top: 50px;
}
#left-steps {
  display: flex;
  width: 600px;
  font-size: 35px;
  margin-top: -355px;
  margin-left: 100px;
}
#right-steps {
  display: flex;
  width: 600px;
  font-size: 35px;
  margin-left: 650px;
  margin-top: -248px;
}
#tiny-image-bottom {
  background-image: url('https://github.com/codefellows/seattle-code-201d100/blob/main/class-10/lab-a/lab-assets/hr-img.png?raw=true');
  background-repeat: repeat-x 15px;
  margin-top: 125px;
}
#face-pic {
  display: flex;
  height: 100px;
  padding-top: 30px;
}
#name {
  display: inline-flexbox;
  font-size: 30px;
  font-weight: bolder;
  opacity: 70%;
  padding-left: 125px;
  margin-top: -130px;
}
#bottom-text {
  font-size: 25px;
  width: 750px;
  padding-left: 125px;
  margin-top: -20px;
}
#share-recipe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: right;
  width: 300px;
  height: 85px;
  font-size: 30px;
  background-color: #d35400;
  color: #ffffff;
  margin-top: -120px;
}
#thin-line {
  background-image: url('https://github.com/codefellows/seattle-code-201d100/blob/main/class-10/lab-a/lab-assets/hr-img.png?raw=true');
  background-repeat: repeat-x;
  height: 1px;
  margin-top: 125px;
}
#small-fork-knife {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
 margin-left: auto;
 margin-right: auto;
 background-color: white;
 margin-top: -40px;
}
#small-fork-knife img {
  width: 50px;
  height: 50px;
}
#copyright {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 20px;
  opacity: 50%;
  float: center ;
}